 
.menu {
	width: 494px;
	border: 3px solid black;
	padding: 10px;
}
 
 
 
.menuitem {
	font-family: helvetica;
	width: 150px;
	height: 150px;
	border: 1px solid black;
	display: inline-block;
	padding: 5px;
	z-index: 1;
	overflow: none;
 
}
 
 
 
.menuitem:hover {
	cursor: hand;
	padding: 3px;
	border: 3px solid blue;
}
 
.menuitem .overlay {
	position: relative;
	height: 156px;
	width: 156px;
	top: -3px;
	left: -3px;
	z-index: 4;
}
 
.menuitem .qty {
	font-weight: bold;
	border: 3px solid black;
	text-align: center;
	border-radius: 20px;
	position: relative;
	width: 20px;
	height: 20px;
	top: -157px;
	left: 121px;
	background: yellow;
	z-index: 5;
}
 
.menuitem .content {
	position: relative;
	height: 160px;
	width: 160px;
	top: -177px;
	z-index: 3;
}
 
.menuitem .overlay:hover {
 
}
 
.menuitem .overlay .up {
	width: 100%;
	height: 50%;
	/*background: rgba(0,255,127,0.2);*/
}
 
.menuitem .overlay .down {
	width: 100%;
	height: 50%;
	/*background: rgba(178,34,34,0.2);*/
}
 
.menuitem .overlay .up:hover {
	background: rgba(0,255,127,0.6);
}
 
.menuitem .overlay .down:hover {
	background: rgba(178,34,34,0.6);
}
 
 
 
.menuitem .icon {
	background: url("http://placehold.it/75x75");
	margin: auto;
	width: 75px;
	height: 75px;
	border: 1px solid black;
}
 
.menuitem .name {
	font-size: 1em;
	margin: auto;
	width: 90%;
	text-align: center;
}
 
.menuitem .description { 
	width: 90%;
	font-size: 0.8em;
	margin: auto;
}
 
.marginfix {
	margin-bottom: -4px;
}